body {text-align: center;
    background-color: darkblue;
    font-family: 'Times New Roman', Times, serif;
}

  h1 {
      color: yellow;
      border-style: dotted;
      border-width: 5px;
      background-color:black);
}

  p {color: white;}
    
  ul {color:lavender;
    list-style-position: inside;
    text-align: left;
    text-indent: 35%;
}
a{color:skyblue}